<div class="row">
    <div class="col-9">
        <h1>SITE TYPE</h1>
    </div>
    <div class="col-3">
        <a asp-action="Insert" class="btn btn-info form-control"><i class="fas fa-plus"></i>New SiteType </a>
    </div>
</div>

<div class="border shadow p-2 m-2">
    <table id="tblData" class="table table-bordered table-active table-hover">

        <thead class="bg-primary text-dark">
            <tr>
                <th>TYPES</th>
                <th>ACTIONS</th>

            </tr>
        </thead>

    </table>
</div>



@section scripts
{
    <script src="~/js/sitetype.js"></script>
}