

@model AustraliaSays2_Models.DTO.SiteTypeDTO

<h1>@ViewData["Title"]</h1>
<div class="container">
    <form method="post">
        <div class="row">
            <div class="col-8 border-bottom">
                <h2 class="text-primary"><u>Update Site Type</u></h2>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-8">
                <div class="form-group row p-2 m-2">
                    <div class="col-4">
                        <label asp-for="Id"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Id" class="form-control shadow" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row p-2 m-2">
                    <div class="col-4">
                        <label asp-for="TypeName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="TypeName" class="form-control shadow" />
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-outline-primary form-control">
                            Save SiteType
                        </button>
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn btn-outline-danger form-control">
                            Back to list
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </form>

</div>


