.review-emojis

{
    display: flex;
    gap: 10px;
}

.emoji-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

    .emoji-btn:hover {
        transform: scale(1.2);
    }

